.dist-buildwrapper
.settings
.project
.password
*~
dist/
.DS_Store
#*#
compiled
.cabal-sandbox/
src/bagpipe/hs/cabal.sandbox.config
logo/dollar-checkmark-original.eps
logo/dollar-checkmark-original.jpg
logo/dollar-checkmark.xcf
logo/checkmark.png
logo/proof-of-license.pdf
src/bagpipe/coq/build/
src/bagpipe/racket/main/bgpv.rkt
.config.yml
.azure.pem
src/bagpipe/hs/.stack-work
src/bagpipe/racket/run-tests
src/bagpipe/racket/test/
setups/
configs/
src/bagpipe/racket/main/bgpv-core.rkt
src/bagpipe/racket/main/util/extraction-racket.rkt
src/bagpipe/racket/main/util/extraction-rosette.rkt
src/bagpipe/coq/Main/Library/SpaceSearch/*.aux
